.Button {
  position: relative;
  padding: 15px 25px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5em;
  border: 0;
  color: #fff;
  background-color: blue;
  font-size: 13px;
  border-radius: 25px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.Button svg {
  width: 12px;
  height: auto;
}

.Button:hover {
  text-decoration: none;
}

.Button--transparent {
  background-color: transparent;
  color: blue;
}

.Button--transparent:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.Button--white {
  background: #fff;
  color: #222;
}

.Button--round {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  line-height: 0;
}

.Button:disabled {
  background: #ccc;
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
