.Answer {
  padding: 0 1rem 1rem 1rem;
}

.Answer .Button {
  width: 100%;
  max-width: var(--maxWidth);
  background-color: var(--accentColorBlue);
}

.Answer .Button:focus {
  box-shadow: 0 0 0 3px var(--accentColorGreen);
}
